<% layout('layouts/boilerplate') %>
    <h1>All Mushrooms</h1>
    <ul>
        <% for (let mushroom of mushrooms) { %> 
            <li>
                <a href="/mushrooms/<%=mushroom._id%>"><%= mushroom.title %>
                </a>
            </li>
        <% } %>
    </ul>